@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&family=Source+Serif+4:wght@300;400;700&display=swap');
:root 
{
	--primary:#4458dc;
	--light:#F0F0F0;
	--secondry:#854fee;
	--title:#141313;
	--text:#777777;
	--border:#201f1f17;
	--gradient:linear-gradient(90deg,#4458dc 0%,#854fee 100%);
	--shadow:0px 10px 30px rgba(118,85,225,0.3);
	--box-shadow:0px 10px 30px rgba(57,56,61,0.205);
	  --gp:#154360;
  --gp2:#4782BA;
}
*
{
    font-family: 'Source Serif 4', sans-serif;
}
.btn1
{
	padding: 0.8rem 1.7rem;
	font-family: "Raleway-Bold";
	font-size: 1rem;
	position: relative;
	border:none;
	border-radius: 4px;
	background: var(--gradient);
	background-clip: padding-box;
	color: whitesmoke;
	transition: background .6s ease;
	box-shadow: var(--shadow);
cursor: pointer;
	text-transform: uppercase;
	margin-top: 2rem;
}
.btn1:hover
{
	background: whitesmoke;background-clip: padding-box;
	color: #000;

}
.btn1::after,.btn2::after
{
	position: absolute;
	top: -2px;left: -2px;
	bottom: -2px;right: -2px;
	background: var(--gradient);
	content: "";
	z-index: -1;
	border-radius: 4px;
}
.btn2
{
	padding: 0.8rem 1.7rem;
	font-family: "Raleway-Bold";
	font-size: 1rem;
	position: relative;
	border-radius: 4px;
	border:2px solid var(--primary);
	background: white;
	background-clip: padding-box;
	text-transform: uppercase;
	transition: background .6s ease;
	margin-left: 2.3rem;
	cursor: pointer;

}
.btn2:hover
{
	background: var(--gradient);
	color: whitesmoke;
	box-shadow: var(--shadow);

}
body{
    background-color: whitesmoke;
}
nav{
    box-shadow: var(--shadow);
    background-color: #fff;
    
}
.navbar-brand
{
    color: var(--secondry) !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-link
{
    text-transform: uppercase;
    color: var(--light);
    letter-spacing: 1px;
}
.active
{
    color: var(--secondry)!important;
    font-weight: bolder;
}

section.reg
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.reg .container
{

    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    
}
section.reg .container .wrap
{
    display: flex;
    justify-content: space-between;
}
section.reg .container .wrap form{
    width: 50%;
}
section.reg .container .wrap .left
{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
section.reg .container .wrap .right
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.reg .container .wrap .right img
{
    padding: 2rem;
    width: 100%;
    height: 100%;
}
.light
{
    font-size: 0.7rem;
    color: var(--text);
    text-decoration: none;
    margin:1rem 0;
}
.heading
{
    padding: 1rem;
}
.input-group
{
    width: 80%;
    margin: 1rem 0;
}
.input-group-text
{
    background:transparent !important;
    outline: none !important;
    border: none !important;
    border-bottom: 1px solid var(--light);
}

input
{
  
    border: none ;
    border-bottom: 1px solid var(--light);
    outline: none;
    width: 100%;
}
.set
{
    margin-left: 2rem;
    margin-bottom: 2rem;
}
section.login .container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.login .container .box
{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
}
section.login .container .box .left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1.5rem;
}
section.login .container .box .left form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
section.login .container .box .left form .input-group{
    margin: 1.5rem;
}
section.login .container .box .left form button
{
    width: 50%;
}
section.login .container .box .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}
section.login .container .box .right img{
    width: 10rem;
    height: 10rem;
}
section.home .container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.home .container div h6{
    color: var(--secondry);
    font-weight: bold;
    font-size: 1.4rem;
    text-shadow: var(--shadow);

}
section.home .container div h2{
    font-size:3rem;
    padding-top: 0.5rem;
    text-shadow: var(--box-shadow);
    color: var(--primary);
    font-weight: bold;
}
.contact .container 
{
    display: flex;
    flex-direction: column;
}
.contact .container .left{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    margin: 2rem 2rem;
    background-color: white;
    box-shadow: var(--shadow);
}
.contact .container .left .item
{
    width: 33.3%;
    display: flex;
    background-color: #fff;

    align-items: center;
    margin: 0 1rem;
    padding: 1rem;
}
.contact .container .left .item .icon
{
    margin-right: 1rem;
    color:#fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .container .left .item h6{
    color: var(--text);
}
.contact .container .right{
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.8rem;
    margin: 1rem 4rem;
    margin-bottom: 4rem;
}
.contact .container .right form 
{
    display: flex;
    flex-direction: column;
}
.contact .container .right form .box1
{
    display: flex;
    flex-direction: row;

}
.contact .container .right form .box1 input{
    margin: 0.5rem;
}
.contact .container .right form textarea
{
    margin: 1rem;
    outline: none;
   
    height: 10rem;
    border: none;
    border: 1px solid var(--light);
}
.contact .container .right form button{
    width: 20%;
}
.about .container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about .container .box{
    background-color: #fff;
    width: 100%;
    height: 70vh;
    box-shadow: var(--box-shadow);
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.about .container .box .left{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.about .container .box .left img{
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
}
.about .container .box .left div
{
    width: 100%;
    margin-top: 1rem;
}
.about .container .box .left div h5{
    color: var(--secondry);
    text-transform: uppercase;
    font-size: 1rem;
    
}
.about .container .box .left div a{
    text-decoration: none;
    color: var(--text);
    font-size: 0.8rem;
}
.about .container .box .right{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.about .container .box .right .first
{
    display: flex;
    justify-content: space-between;
}
.about .container .box .right div{
    margin-top: 1rem;
}
.about .container .box .right div h6
{
    color: var(--primary);

}
.about .container .box .right div p{
    text-transform: uppercase;
}
.about .container .box .right div .bt{
border: none;
outline: none;
padding: 0.3rem;
background-color: var(--light) !important;
color: var(--secondry);
}
span{
    color: var(--primary);
}
.about .container .box .right .second
{
    display: flex;
    justify-content: space-between;
}
.about .container .box .right .second .left1 ,.about .container .box .right .second .right{
    width: 50%;
 
    display: flex;
    flex-direction: column;
}
.about .container .box .right .second .left1 h6{
    color: var(--text);
   
}
.ab
{
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 0;
}
.bar
{
    background:var(--gradient);
    width: 100%;
    height: 0.1rem;
}
.error
{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:830px)
{
    .about .container .box
    {
        flex-direction: column-reverse;
    }
    .about .container .box .left{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid red;
    }
    .about .container .box .left div
    {
        width: 20%;
    }
    .about .container .box .right{
        width:100%;
        flex-direction: row;
    }
    .about .container .box .right .first
    {
        flex-direction: column;
    }
}
@media(max-width:500px)
{
    section.login .container .box
    {
        flex-direction: column-reverse;
        margin-top: 10rem;
    }
    section.login .container .box .left{
        width: 100%;
    }
    section.login .container .box .right{
        width: 100%;
    }
    section.reg .container .wrap
    {
        flex-direction: column-reverse;
    }
    section.reg .container .wrap .left{
        width: 100%;
    }
    section.reg .container .wrap .right{
        width: 100%;
    }
    .input-group
    {
        width: 100%;
    }
}
.footer
{
    margin-bottom: 0;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--gp);
    font-weight: bold;
    letter-spacing: 1px;
    bottom: 0 !important;
    width: 100%;
    height: 2rem;
}